<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title></title>
		<script type="text/javascript" th:src="@{/jquery/jquery-1.9.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/swiper/js/swiper.js}"></script>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
		<link rel="stylesheet" th:href="@{/css/common.css}" />
		<link rel="stylesheet" th:href="@{/swiper/css/swiper.min.css}" />
	</head>

	<body>

	<!-- head -->
	<div th:replace="include/include::head"></div>

		<div class="layui-container ">
			<div class="layui-row jianju">
					<span class="layui-breadcrumb">
					  <a href="">首页</a>
					  <a><cite>关于我们</cite></a>
					</span>
			</div>
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md8  ">
					<div class="layui-card" style="overflow: hidden;margin-bottom: 10px!important;">
						
						<div class="layui-card-body">
							<h1>个人签名</h1>
						</div>
						<hr class="layui-bg-green" />
						<div class="about-main">
							每一个人的成功之路或许都不尽相同，但我相信，成功都需要每一位想成功的人去努力、去奋斗，而每一条成功之路，都是充满坎坷的，只有那些坚信自己目标，不断努力、不断奋斗的人，才能取得最终的成功。但有一点我始终坚信，那就是，当你能把自己感动得哭了的时候，你就成功了！  
						</div>
						<div class="about-main" style="background: #fff;">
							<h3><strong>给我打赏</strong></h3>
							<hr class="layui-bg-gray" />
							<img th:src="@{/upload/1.jpg}" style="margin: 5px;width: 300px;" />
						</div>	
						<div class="about-main" style="background: #fff;">
							<h3><strong>关注我的二维码</strong></h3>
							<hr class="layui-bg-gray" />
							<img th:src="@{/upload/2.jpg}" style="margin: 5px;width: 300px;" />
						</div>

					</div>
				</div>

				<!-- right -->
				<div th:replace="include/include::right"></div>
					
				</div>	
			</div>

		
		<<!-- below -->
		<div th:replace="include/include::below"></div>

		<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
		<script type="text/javascript" th:src="@{/js/index.js}"></script>
	</body>
   
</html>